
// Global Variables
$stk-space-extra-small: 4px;
$stk-space-small: 8px;
$stk-space-medium: 12px;
$stk-space-large: 24px;
$stk-space-extra-large: 48px;

$stk-primary-color: #FDFDFD;
$stk-background-color: #F5F5F5;

$stk-header-height: 50px;
$stk-story-height: 48px;

$stk-font-size-small: 11px;
$stk-font-size-medium: 13px;
