
// Global Variables
$stk-space-extra-small: 4px;
$stk-space-small: 8px;
$stk-space-medium: 12px;
$stk-space-large: 24px;
$stk-space-extra-large: 48px;

$stk-primary-color: #FEFEFE;
$stk-background-color: #F5F5F5;

$stk-border-light: rgba(0,0,0,.12);

$stk-header-height: 50px;
$stk-footer-height: 23px;
$stk-story-height: 48px;
$stk-nav-item-height: 44px;

$stk-font-color-secondary: #555;
$stk-font-size-small: 10px;
$stk-font-size-medium: 12px;
$stk-font-size-large: 1rem;
