@import '../../styles/variables';

.app-content {
  position: absolute;
  left: 0;
  right: 0;
  top: $stk-header-height;
  bottom: $stk-footer-height;
  overflow-y: scroll;
}

.app-footer {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $stk-border-light;
  background-color: $stk-primary-color;
  font-size: $stk-font-size-medium;
  color: #0007;
  height: $stk-footer-height;
  box-sizing: border-box;


  span {
    margin-right: $stk-space-small;
    margin-left: auto;
    cursor: pointer;
  }

}

.full-size-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.side-navigation {
  background-color: $stk-primary-color;
  width: $stk-sidenav-width;

  .side-navigation-header {
    display: flex;
    padding: $stk-space-small $stk-space-extra-small;
    justify-content: space-between;

    .close-button {
      color: $stk-font-color-secondary;
    }

    .logo-container {
      padding: 0 $stk-space-medium;
      img {
        width: 30px;
      }
      span {
        margin-left: $stk-space-small;
        font-size: 0.95rem;
      }
    }
  }

  .side-navigation-list {

    .side-navigation-list-item {
      height: $stk-nav-item-height;
      padding-left: $stk-space-small * 2;
      color: $stk-font-color-secondary;
      transition: ease-in 100ms;
      align-items: center;
      display: flex;
      cursor: pointer;
      &:hover {
        background-color: rgba(0,0,0,.1) !important;
      }

      &.isActive {
        background-color: rgba(0,0,0,.05);
        color: inherit;
        font-weight: bold;
      }

      mat-icon {
        display: none;
        //margin-right: $stk-space-medium;
      }
    }

    .divider {
      margin: $stk-space-small 0;
      border-top: 1px solid $stk-border-light;
    }
  }

}
