<mat-toolbar class="nav-bar mat-elevation-z5">

  <ng-container *ngIf="menuService.shouldDisplayMenu$ | async; else default">
    <button mat-icon-button
            class="menu-button"
            *ngIf="!(menuService.isSideMenuOpen$ | async)"
            (click)="menuService.toggleSideMenu(true)">
      <mat-icon>
        menu
      </mat-icon>
    </button>

    <div class="menu-title">
      {{ menuService.menuTitle$ | async }}
    </div>

    <span class="pull-right"></span>

    <ng-container *ngFor="let menuAction of menuService.menuActions$ | async">
      <button mat-icon-button (click)="menuAction.action()" class="nav-action">
        <mat-icon>
          {{ menuAction.icon }}
        </mat-icon>
      </button>
    </ng-container>


    <div class="nav-account" *ngIf="user$ | async as user">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        {{ user.name }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #menu="matMenu" yPosition="below">
        <button mat-menu-item (click)="signOut()">Sign out</button>
      </mat-menu>
    </div>
  </ng-container>

  <ng-template #default>
    <button mat-button
            routerLink="/"
            routerLinkActive="active"
            class="logo-container">
      <img src="./assets/logo.svg">
      <span>{{ appTitle }}</span>
    </button>
  </ng-template>

</mat-toolbar>
