@import 'src/app/styles/variables';



.nav-bar {
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: $stk-primary-color;
  height: $stk-header-height !important;
  width: 100%;
  padding: 0;
  //border-bottom: 1px solid $stk-border-light;

  .menu-button {
    margin-left: $stk-space-medium;

    .mat-icon {
      font-size: 28px;
      width: 100%;
    }
  }

  .menu-title {
    margin-left: $stk-space-medium;
    font-size: $stk-font-size-large;
    line-height: 0;
  }

  .logo-container {
    padding: 0 $stk-space-small;
    img {
      width: 32px;
    }
    span {
      margin-left: $stk-space-small;
      font-size: 0.95rem;
    }
  }

  .nav-title {
    margin-left: $stk-space-medium;
    font-size: 1rem;
  }

  .nav-item {}

  .nav-account {
    border-left: 1px solid $stk-border-light !important;
    color: $stk-font-color-secondary;
  }

  .nav-action {
    margin-right: $stk-space-small;
  }

}
