<div class="page-container">

  <ng-container *ngIf="!(responsiveService.isMobileView$ | async); else mobileView">
    <div class="desktop-board-view"
         cdkDropListGroup>
      <ng-container *ngrxLet="storiesByStatus$ as storiesByStatus">
        <div *ngFor="let status of STATUS_KEYS"
             class="column"
             cdkDropList
             (cdkDropListDropped)="dropStory($event)"
             [cdkDropListData]="status">
          <app-story-list [componentID]="status"
                          [storyIDs]="storiesByStatus[status]"
                          [showStatus]="false"
                          [draggable]="true">
          </app-story-list>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #mobileView>
    <div class="mobile-board-view">
      <ng-container *ngrxLet="storiesByStatus$ as storiesByStatus">
        <mat-tab-group class="status-tab-group"
                       disablePagination
                       mat-stretch-tabs>
          <mat-tab *ngFor="let status of STATUS_KEYS"
                   [label]="status | normalizeCase">
            <div class="column">
              <app-story-list [componentID]="status"
                              [storyIDs]="storiesByStatus[status]"
                              [showStatus]="false"
                              [draggable]="false">
              </app-story-list>
            </div>
          </mat-tab>
        </mat-tab-group>
      </ng-container>
    </div>
  </ng-template>

</div>
