@import 'src/app/styles/variables';

.columns {
  display: flex;
  flex: 1 1 0;
  //background-color: red;
  justify-content: center;
  width: 100%;
  height: calc(100% - 64px);
  overflow-y: scroll;

  .column {
    width: 23% !important;
    padding: $stk-space-small;
  }

}
