@import 'src/app/styles/variables';

.page-container {
  padding: $stk-space-extra-small;

  .columns {
    display: flex;
    width: 100%;

    .column {
      flex: 1 1 0;
      width: 0;
      padding: $stk-space-extra-small;
    }

  }

}
