@import '../../styles/variables';

.page-container {

  .list-container {
    max-width: 1000px;
    margin: $stk-space-small auto;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    margin-top: $stk-space-large;
  }

}
