@import '../../styles/variables';

.page-container {
  padding: $stk-space-medium 0;

  .list-container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    margin-top: $stk-space-large;
  }

}
