mat-list-option {
  width: calc(100% - 2rem) !important;
  padding-left: 2rem !important;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-item {
  margin: 4px;
  padding-bottom: 1px;
}
