<mat-accordion multi *ngIf="storyIDs; else loading">
  <ng-container *ngFor="let id of storyIDs">
      <app-story-item
        [storyID]="id"
        [showStatus]="showStatus"
        [cdkDragStartDelay]="0"
        [cdkDragDisabled]="showStatus"
        [cdkDragData]="id"
        cdkDrag
      ></app-story-item>
  </ng-container>
</mat-accordion>

<!-- FIXME: Doesn't work, add list state to store -->
<ng-template #loading>
  <div>{{ storyIDs }}</div>
  <mat-spinner></mat-spinner>
</ng-template>
