<mat-expansion-panel
  (opened)="isExpanded = true"
  (closed)="isExpanded = false"
  [ngClass]="{ collapsed: !isExpanded }"
  hideToggle>
  <!--  [ngStyle]="{ backgroundColor: this.colorMap[this.story.size] }"-->

  <mat-expansion-panel-header>
    <div class="story-summary-container">
      <button mat-icon-button>
        <mat-icon [svgIcon]="story.priority"></mat-icon>
      </button>

      <span class="pad-left story-title" [ngClass]="{ completed: story.status === 'DONE'}">
        {{ story.name }}
      </span>

      <span class="pull-right"></span>

      <div class="chip" *ngIf="showStatus">
        {{ story.status }}
      </div>

      <div class="pad-left mat-small story-id" >
        {{ story.id | storyId }}
      </div>
    </div>
  </mat-expansion-panel-header>


  <ng-template matExpansionPanelContent>

    <div class="story-details-container">
      <div class="story-details-description" *ngIf="story.description">
        {{ story.description }}
      </div>

      <div class="story-details-tasks" *ngIf="story.tasks && story.tasks.length > 0">
        <mat-selection-list>
          <mat-list-option
            *ngFor="let task of story.tasks"
            [selected]="task.done">
            <span [ngClass]="{ completed: task.done }">
              {{ task.label }}
            </span>
          </mat-list-option>
        </mat-selection-list>
      </div>

      <div class="story-details-children" *ngIf="story.children && story.children.length > 0">
        <app-story-list
          [storyList]="childStories$ | async"
        ></app-story-list>
      </div>
    </div>

  </ng-template>

</mat-expansion-panel>
