@import 'src/app/styles/variables';


mat-expansion-panel {
  border-radius: 0 !important;

  mat-expansion-panel-header {
    background: transparent !important;
    padding: 0;

    .story-summary-container {
      display: flex;
      align-items: center;
      width: 100%;

      .priority-icon {
        margin: 0 $stk-space-extra-small;
      }

      .story-title {
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        min-width: 0px;
        font-size: $stk-font-size-medium;
      }

      .chip {
        border: solid 1px lightgray;
        background-color: #fff;
        border-radius: 4px;
        padding: 1px $stk-space-small;
        font-weight: bold;
        color: #444;
        font-size: $stk-font-size-small;
      }

      .story-id {
        margin: 0 $stk-space-small;
        font-size: $stk-font-size-small;
        white-space: nowrap;
      }
    }
  }

  .story-details-container {
    padding-left: $stk-space-small;
    padding-right: $stk-space-small;

    .story-description {
      padding-left: $stk-space-small;
      padding-right: $stk-space-small;
      padding-bottom: $stk-space-small;
      font-size: $stk-font-size-medium;
      white-space: pre-line;
    }

    .story-tasks {
      padding-bottom: $stk-space-small;

      mat-selection-list {
        padding: 0;

        mat-list-option {
          height: auto;
          padding-top: $stk-space-small;
          padding-bottom: $stk-space-small;

          span {
            font-size: $stk-font-size-medium;
            font-weight: bold;
          }
        }
      }
    }

    .story-children {
      padding-bottom: $stk-space-small;
    }

  }

  ::ng-deep {
    .mat-expansion-panel-body {
      padding: 0 !important;
    }
  }

}

.completed {
  text-decoration: line-through;
  font-weight: normal !important;
  color: gray;
}

.loading {
  padding-left: $stk-space-medium;
  font-size: $stk-font-size-medium;
}
