mat-card {
  padding-top: 3px;
  padding-bottom: 3px;
  //padding-left: 12px;
  background-color: #FFFFBB;
}

.chip {
  border: solid 1px lightgray;
  background-color: #ffff;
  border-radius: 4px;
  padding: 1px 14px;
  font-weight: bold;
  color: #444;
}
